<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href=".../public/style.css">
    <title>Document</title>
    
</head>
<body>
 <div>
     <% bookDeatails.forEach(item=>{ %>
<div>
    <h1><%=item.title%></h1>
    <img src="<%=item.imageLinks%>" alt="">
    <h3>Auther : <%=item.auther%></h3>
    <a href="<%=item.canonicalVolumeLink%>"></a>
    <h3>publisher : <%=item.publisher%></h3>
    <h3>publishedDate : <%=item.publishedDate%></h3>
</div>
     <% })%>
     <a href="/books/<%=element.id %>">
        <button class="select__book">View details</button>
    </a>
 </div>
</body>
</html>